/* GLOBAL RESET */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Rework Display Regular";
  src: url("./assets/fonts/ReworkDisplayTRIAL-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Neue Montreal";
  src: url("./assets/fonts/ppneuemontreal-thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("./assets/fonts/ppneuemontreal-medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("./assets/fonts/ppneuemontreal-book.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Soehne";
  src: url("./assets/fonts/Soehne5.otf") format("opentype");
}


body {
  background-color: #000;
  color: white;
  font-family: 'Soehne', sans-serif;
}
