/* GLOBAL RESET */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Rework Display Regular';
  src: url('/fonts/ReworkDisplayTRIAL-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/ppneuemontreal-thin.otf') format('opentype');
  font-weight: 100; /* 'thin' is 100 */
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/ppneuemontreal-medium.otf') format('opentype');
  font-weight: 500; /* 'medium' is 500 */
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/ppneuemontreal-book.otf') format('opentype');
  font-weight: 400; /* 'medium' is 500 */
  font-style: normal;
}

@font-face {
  font-family: 'Soehne';
  src: url('/fonts/Soehne5.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000;
  color: white;
  font-family: 'Soehne', sans-serif;
}
